<div *ngIf="!showLink">
    <div class="button-container">
        <button class="session-btn" (click)="createSession()"  [mat-dialog-close]="true" >Create Session</button>
        <button  class="session-btn" (click)="joinSession()">Join Session</button>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
      <button mat-raised-button mat-dialog-close>Close</button>
    </div>
</div>


<div *ngIf="showLink" class="p-3">
    <h3 class="text-center">Enter the Session ID</h3>
<div class="copy-box">
  <input type="text" [(ngModel)]="sessionId">
    
    
    
  </div>
  <button  class=" copy-button btn btn-primary mt-3" (click)="enterSession()" [mat-dialog-close]="true">Join Session</button>
</div>
