.body{
    display:flex;
    overflow:hidden !important;
}
.sideBar{
    flex:5.17;
}
/* message container */
.message-container{
    flex:12;
}

::-webkit-scrollbar{
    display:none !important;

}
.message{
    display: none;
}

/* CSS for small screen */
@media (max-width: 480px) {
    .hide-on-small-screen {
      display: none;
    }
   
 
  
    .show-on-small-screen {
      display: none;
    }
    .message-container{
        display: none;   
    }
    .message {
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        display: block;
      }
      
      .message h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      
      .message p {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
      }
      
      .message ol {
        text-align: left;
      }
      
      .message ol li {
        margin-bottom: 5px;
      }
       
  }
  

  
