

<div *ngIf="!showMsgBox">
<img
          src="https://img.freepik.com/free-vector/messaging-concept-illustration_114360-1121.jpg?w=740&t=st=1683237545~exp=1683238145~hmac=c9944fa1b5fc447f380610866198f3143b3e084c608bcacb09d2d6cc3d1d7bf7"
          alt=""
        />
</div >

<div *ngIf="showMsgBox">
  <div class="header" >
    <div class="chat-title">
      <div class="avater">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSijwVvppJlNi16cZ-RJPCyARktcKProp1bwQ&usqp=CAU"
          alt=""
        />
      </div>
      <div class="message-header-content">
        <h6>{{ currentChatPicked?.username }}</h6>
        <p>Active</p>
      </div>
    </div>
    <div class="chat-header-right">
      <span class="material-symbols-sharp"> </span>
  
      <span class="material-symbols-sharp"> </span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
     
      >
        <mat-icon> videocam</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item    (click)="openDialog()" matTooltip="This only accomodates two participants " matTooltipPosition="left">
          <mat-icon> group</mat-icon>
          <span>Peer to Peer video</span>
        </button>
  
        <button mat-menu-item>
          <mat-icon> diversity_3</mat-icon>
          <span>Group video</span>
        </button>
      </mat-menu>
  
      <span class="material-symbols-sharp"> more_vert </span>
    </div>
  </div>
  <div class="message-content" #chatContainer>
    <!-- <p class="chat-message chat-sent">
      This is a message  <span class="chat-timestamp">11:30pm</span>
    </p> -->
  
    <p
      class="chat-message"
      *ngFor="let chat of chats; let i = index"
      [class.chat-sent]="chat.fromSelf"
    >
      {{ chat.message }} <span class="chat-timestamp">11:30pm</span>
    </p>
  </div>
  
  <div class="message-footer">
    <span class="material-symbols-sharp"> face </span>
  
    <span class="material-symbols-sharp"> face </span>
  
    <input type="text" placeholder="type a message" [(ngModel)]="messageInp" />
  
    <button class="sendBtn" *ngIf="messageInp !== ''">
      <span class="material-symbols-sharp" (click)="sendMsg()">send</span>
    </button>
  </div>
  

</div>  
